<main>
  <p id="notice"></p>
  <div class="container">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.errors.any? %>
        <p><%= @user.errors.count %> error prohibited this obj from being saved:</p>
           <% @user.errors.full_messages.each do |message| %>
              <%= message %>
           <% end %>
      <% end %>
      <%= form_with model: @user, local:true do |f| %>
        <div class="form-group">
          <label for="inputName">Name</label>
          <p><%= f.text_field :name, autofocus: true, id:"inputName" %></p>
        </div>
        <div class="form-proup">
          <label for="inputImage">Image</label>
          <p><%= f.attachment_field :profile_image %></p>
        </div>
        <div class="form-group">
          <label for="user_introduction">Introduction</label>
          <p><%= f.text_area :introduction %></p>
        </div>
        <%= f.submit "Update User", class: 'btn btn-sm btn-secondary' %>
      <% end %>
    </div>
  </div>
</main>